.bg-nav {
    background-image: url("../imagens/textura.jpg");
    border-bottom: 2px groove #16161d;
}
.bg-txt-carousel{
    background-color: #16161d;
    opacity: 0.5;
}


footer {
    color:#fff;
    /* display: flex;
    justify-content: center;
    height: 100px;
    align-items: center; */

}